.container {
  font-size: 0;
  max-width: 500px;
  margin: auto;
}

@-webkit-keyframes rotato {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: .25;
  }
}

@keyframes rotato {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: .25;
  }
}
.atom {
  -webkit-animation: rotato 1s linear infinite;
          animation: rotato 1s linear infinite;
  width: 3em;
  height: 3em;
  border: 1px solid #eee;
  border-radius: 50%;
  margin: -.3em;
  position: relative;
  display: inline-block;
  font-size: 1rem;
}
.atom:after {
  display: block;
  width: 0.6em;
  height: 0.6em;
  content: '';
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: -0.3em;
  left: 1.2em;
}
.atom:nth-child(1) {
  -webkit-animation-delay: -0.075s;
          animation-delay: -0.075s;
}
.atom:nth-child(2) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
.atom:nth-child(3) {
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
}
.atom:nth-child(4) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.atom:nth-child(5) {
  -webkit-animation-delay: -0.375s;
          animation-delay: -0.375s;
}
.atom:nth-child(6) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
.atom:nth-child(7) {
  -webkit-animation-delay: -0.525s;
          animation-delay: -0.525s;
}
.atom:nth-child(8) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.atom:nth-child(9) {
  -webkit-animation-delay: -0.675s;
          animation-delay: -0.675s;
}
.atom:nth-child(10) {
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
}
.atom:nth-child(11) {
  -webkit-animation-delay: -0.825s;
          animation-delay: -0.825s;
}
.atom:nth-child(12) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.atom:nth-child(13) {
  -webkit-animation-delay: -0.975s;
          animation-delay: -0.975s;
}
.atom:nth-child(14) {
  -webkit-animation-delay: -1.05s;
          animation-delay: -1.05s;
}
.atom:nth-child(15) {
  -webkit-animation-delay: -1.125s;
          animation-delay: -1.125s;
}
.atom:nth-child(16) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.atom:nth-child(17) {
  -webkit-animation-delay: -1.275s;
          animation-delay: -1.275s;
}
.atom:nth-child(18) {
  -webkit-animation-delay: -1.35s;
          animation-delay: -1.35s;
}
.atom:nth-child(19) {
  -webkit-animation-delay: -1.425s;
          animation-delay: -1.425s;
}
.atom:nth-child(20) {
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}
.atom:nth-child(21) {
  -webkit-animation-delay: -1.575s;
          animation-delay: -1.575s;
}
.atom:nth-child(22) {
  -webkit-animation-delay: -1.65s;
          animation-delay: -1.65s;
}
.atom:nth-child(23) {
  -webkit-animation-delay: -1.725s;
          animation-delay: -1.725s;
}
.atom:nth-child(24) {
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}
.atom:nth-child(25) {
  -webkit-animation-delay: -1.875s;
          animation-delay: -1.875s;
}
.atom:nth-child(26) {
  -webkit-animation-delay: -1.95s;
          animation-delay: -1.95s;
}
.atom:nth-child(27) {
  -webkit-animation-delay: -2.025s;
          animation-delay: -2.025s;
}
.atom:nth-child(28) {
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
}
.atom:nth-child(29) {
  -webkit-animation-delay: -2.175s;
          animation-delay: -2.175s;
}
.atom:nth-child(30) {
  -webkit-animation-delay: -2.25s;
          animation-delay: -2.25s;
}
.atom:nth-child(31) {
  -webkit-animation-delay: -2.325s;
          animation-delay: -2.325s;
}
.atom:nth-child(32) {
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
}
.atom:nth-child(33) {
  -webkit-animation-delay: -2.475s;
          animation-delay: -2.475s;
}
.atom:nth-child(34) {
  -webkit-animation-delay: -2.55s;
          animation-delay: -2.55s;
}
.atom:nth-child(35) {
  -webkit-animation-delay: -2.625s;
          animation-delay: -2.625s;
}
.atom:nth-child(36) {
  -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s;
}
.atom:nth-child(37) {
  -webkit-animation-delay: -2.775s;
          animation-delay: -2.775s;
}
.atom:nth-child(38) {
  -webkit-animation-delay: -2.85s;
          animation-delay: -2.85s;
}
.atom:nth-child(39) {
  -webkit-animation-delay: -2.925s;
          animation-delay: -2.925s;
}
.atom:nth-child(40) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.atom:nth-child(41) {
  -webkit-animation-delay: -3.075s;
          animation-delay: -3.075s;
}
.atom:nth-child(42) {
  -webkit-animation-delay: -3.15s;
          animation-delay: -3.15s;
}
.atom:nth-child(43) {
  -webkit-animation-delay: -3.225s;
          animation-delay: -3.225s;
}
.atom:nth-child(44) {
  -webkit-animation-delay: -3.3s;
          animation-delay: -3.3s;
}
.atom:nth-child(45) {
  -webkit-animation-delay: -3.375s;
          animation-delay: -3.375s;
}
.atom:nth-child(46) {
  -webkit-animation-delay: -3.45s;
          animation-delay: -3.45s;
}
.atom:nth-child(47) {
  -webkit-animation-delay: -3.525s;
          animation-delay: -3.525s;
}
.atom:nth-child(48) {
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
}
.atom:nth-child(49) {
  -webkit-animation-delay: -3.675s;
          animation-delay: -3.675s;
}
.atom:nth-child(50) {
  -webkit-animation-delay: -3.75s;
          animation-delay: -3.75s;
}
.atom:nth-child(51) {
  -webkit-animation-delay: -3.825s;
          animation-delay: -3.825s;
}
.atom:nth-child(52) {
  -webkit-animation-delay: -3.9s;
          animation-delay: -3.9s;
}
.atom:nth-child(53) {
  -webkit-animation-delay: -3.975s;
          animation-delay: -3.975s;
}
.atom:nth-child(54) {
  -webkit-animation-delay: -4.05s;
          animation-delay: -4.05s;
}
.atom:nth-child(55) {
  -webkit-animation-delay: -4.125s;
          animation-delay: -4.125s;
}
.atom:nth-child(56) {
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
}
.atom:nth-child(57) {
  -webkit-animation-delay: -4.275s;
          animation-delay: -4.275s;
}
.atom:nth-child(58) {
  -webkit-animation-delay: -4.35s;
          animation-delay: -4.35s;
}
.atom:nth-child(59) {
  -webkit-animation-delay: -4.425s;
          animation-delay: -4.425s;
}
.atom:nth-child(60) {
  -webkit-animation-delay: -4.5s;
          animation-delay: -4.5s;
}
.atom:nth-child(61) {
  -webkit-animation-delay: -4.575s;
          animation-delay: -4.575s;
}
.atom:nth-child(62) {
  -webkit-animation-delay: -4.65s;
          animation-delay: -4.65s;
}
.atom:nth-child(63) {
  -webkit-animation-delay: -4.725s;
          animation-delay: -4.725s;
}
.atom:nth-child(64) {
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
}
.atom:nth-child(65) {
  -webkit-animation-delay: -4.875s;
          animation-delay: -4.875s;
}
.atom:nth-child(66) {
  -webkit-animation-delay: -4.95s;
          animation-delay: -4.95s;
}
.atom:nth-child(67) {
  -webkit-animation-delay: -5.025s;
          animation-delay: -5.025s;
}
.atom:nth-child(68) {
  -webkit-animation-delay: -5.1s;
          animation-delay: -5.1s;
}
.atom:nth-child(69) {
  -webkit-animation-delay: -5.175s;
          animation-delay: -5.175s;
}
.atom:nth-child(70) {
  -webkit-animation-delay: -5.25s;
          animation-delay: -5.25s;
}
.atom:nth-child(71) {
  -webkit-animation-delay: -5.325s;
          animation-delay: -5.325s;
}
.atom:nth-child(72) {
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
}
.atom:nth-child(73) {
  -webkit-animation-delay: -5.475s;
          animation-delay: -5.475s;
}
.atom:nth-child(74) {
  -webkit-animation-delay: -5.55s;
          animation-delay: -5.55s;
}
.atom:nth-child(75) {
  -webkit-animation-delay: -5.625s;
          animation-delay: -5.625s;
}
.atom:nth-child(76) {
  -webkit-animation-delay: -5.7s;
          animation-delay: -5.7s;
}
.atom:nth-child(77) {
  -webkit-animation-delay: -5.775s;
          animation-delay: -5.775s;
}
.atom:nth-child(78) {
  -webkit-animation-delay: -5.85s;
          animation-delay: -5.85s;
}
.atom:nth-child(79) {
  -webkit-animation-delay: -5.925s;
          animation-delay: -5.925s;
}
.atom:nth-child(80) {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}
.atom:nth-child(81) {
  -webkit-animation-delay: -6.075s;
          animation-delay: -6.075s;
}
.atom:nth-child(82) {
  -webkit-animation-delay: -6.15s;
          animation-delay: -6.15s;
}
.atom:nth-child(83) {
  -webkit-animation-delay: -6.225s;
          animation-delay: -6.225s;
}
.atom:nth-child(84) {
  -webkit-animation-delay: -6.3s;
          animation-delay: -6.3s;
}
.atom:nth-child(85) {
  -webkit-animation-delay: -6.375s;
          animation-delay: -6.375s;
}
.atom:nth-child(86) {
  -webkit-animation-delay: -6.45s;
          animation-delay: -6.45s;
}
.atom:nth-child(87) {
  -webkit-animation-delay: -6.525s;
          animation-delay: -6.525s;
}
.atom:nth-child(88) {
  -webkit-animation-delay: -6.6s;
          animation-delay: -6.6s;
}
.atom:nth-child(89) {
  -webkit-animation-delay: -6.675s;
          animation-delay: -6.675s;
}
.atom:nth-child(90) {
  -webkit-animation-delay: -6.75s;
          animation-delay: -6.75s;
}
.atom:nth-child(91) {
  -webkit-animation-delay: -6.825s;
          animation-delay: -6.825s;
}
.atom:nth-child(92) {
  -webkit-animation-delay: -6.9s;
          animation-delay: -6.9s;
}
.atom:nth-child(93) {
  -webkit-animation-delay: -6.975s;
          animation-delay: -6.975s;
}
.atom:nth-child(94) {
  -webkit-animation-delay: -7.05s;
          animation-delay: -7.05s;
}
.atom:nth-child(95) {
  -webkit-animation-delay: -7.125s;
          animation-delay: -7.125s;
}
.atom:nth-child(96) {
  -webkit-animation-delay: -7.2s;
          animation-delay: -7.2s;
}
.atom:nth-child(97) {
  -webkit-animation-delay: -7.275s;
          animation-delay: -7.275s;
}
.atom:nth-child(98) {
  -webkit-animation-delay: -7.35s;
          animation-delay: -7.35s;
}
.atom:nth-child(99) {
  -webkit-animation-delay: -7.425s;
          animation-delay: -7.425s;
}
.atom:nth-child(100) {
  -webkit-animation-delay: -7.5s;
          animation-delay: -7.5s;
}
.atom:nth-child(101) {
  -webkit-animation-delay: -7.575s;
          animation-delay: -7.575s;
}
.atom:nth-child(102) {
  -webkit-animation-delay: -7.65s;
          animation-delay: -7.65s;
}
.atom:nth-child(103) {
  -webkit-animation-delay: -7.725s;
          animation-delay: -7.725s;
}
.atom:nth-child(104) {
  -webkit-animation-delay: -7.8s;
          animation-delay: -7.8s;
}
.atom:nth-child(105) {
  -webkit-animation-delay: -7.875s;
          animation-delay: -7.875s;
}
.atom:nth-child(106) {
  -webkit-animation-delay: -7.95s;
          animation-delay: -7.95s;
}
.atom:nth-child(107) {
  -webkit-animation-delay: -8.025s;
          animation-delay: -8.025s;
}
.atom:nth-child(108) {
  -webkit-animation-delay: -8.1s;
          animation-delay: -8.1s;
}
.atom:nth-child(109) {
  -webkit-animation-delay: -8.175s;
          animation-delay: -8.175s;
}
.atom:nth-child(110) {
  -webkit-animation-delay: -8.25s;
          animation-delay: -8.25s;
}
.atom:nth-child(111) {
  -webkit-animation-delay: -8.325s;
          animation-delay: -8.325s;
}
.atom:nth-child(112) {
  -webkit-animation-delay: -8.4s;
          animation-delay: -8.4s;
}
.atom:nth-child(113) {
  -webkit-animation-delay: -8.475s;
          animation-delay: -8.475s;
}
.atom:nth-child(114) {
  -webkit-animation-delay: -8.55s;
          animation-delay: -8.55s;
}
.atom:nth-child(115) {
  -webkit-animation-delay: -8.625s;
          animation-delay: -8.625s;
}
.atom:nth-child(116) {
  -webkit-animation-delay: -8.7s;
          animation-delay: -8.7s;
}
.atom:nth-child(117) {
  -webkit-animation-delay: -8.775s;
          animation-delay: -8.775s;
}
.atom:nth-child(118) {
  -webkit-animation-delay: -8.85s;
          animation-delay: -8.85s;
}
.atom:nth-child(119) {
  -webkit-animation-delay: -8.925s;
          animation-delay: -8.925s;
}
.atom:nth-child(120) {
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
}
.atom:nth-child(121) {
  -webkit-animation-delay: -9.075s;
          animation-delay: -9.075s;
}
.atom:nth-child(122) {
  -webkit-animation-delay: -9.15s;
          animation-delay: -9.15s;
}
.atom:nth-child(123) {
  -webkit-animation-delay: -9.225s;
          animation-delay: -9.225s;
}
.atom:nth-child(124) {
  -webkit-animation-delay: -9.3s;
          animation-delay: -9.3s;
}
.atom:nth-child(125) {
  -webkit-animation-delay: -9.375s;
          animation-delay: -9.375s;
}
.atom:nth-child(126) {
  -webkit-animation-delay: -9.45s;
          animation-delay: -9.45s;
}
.atom:nth-child(127) {
  -webkit-animation-delay: -9.525s;
          animation-delay: -9.525s;
}
.atom:nth-child(128) {
  -webkit-animation-delay: -9.6s;
          animation-delay: -9.6s;
}
.atom:nth-child(129) {
  -webkit-animation-delay: -9.675s;
          animation-delay: -9.675s;
}
.atom:nth-child(130) {
  -webkit-animation-delay: -9.75s;
          animation-delay: -9.75s;
}
.atom:nth-child(131) {
  -webkit-animation-delay: -9.825s;
          animation-delay: -9.825s;
}
.atom:nth-child(132) {
  -webkit-animation-delay: -9.9s;
          animation-delay: -9.9s;
}
.atom:nth-child(133) {
  -webkit-animation-delay: -9.975s;
          animation-delay: -9.975s;
}
.atom:nth-child(134) {
  -webkit-animation-delay: -10.05s;
          animation-delay: -10.05s;
}
.atom:nth-child(135) {
  -webkit-animation-delay: -10.125s;
          animation-delay: -10.125s;
}
.atom:nth-child(136) {
  -webkit-animation-delay: -10.2s;
          animation-delay: -10.2s;
}
.atom:nth-child(137) {
  -webkit-animation-delay: -10.275s;
          animation-delay: -10.275s;
}
.atom:nth-child(138) {
  -webkit-animation-delay: -10.35s;
          animation-delay: -10.35s;
}
.atom:nth-child(139) {
  -webkit-animation-delay: -10.425s;
          animation-delay: -10.425s;
}
.atom:nth-child(140) {
  -webkit-animation-delay: -10.5s;
          animation-delay: -10.5s;
}
.atom:nth-child(141) {
  -webkit-animation-delay: -10.575s;
          animation-delay: -10.575s;
}
.atom:nth-child(142) {
  -webkit-animation-delay: -10.65s;
          animation-delay: -10.65s;
}
.atom:nth-child(143) {
  -webkit-animation-delay: -10.725s;
          animation-delay: -10.725s;
}
.atom:nth-child(144) {
  -webkit-animation-delay: -10.8s;
          animation-delay: -10.8s;
}
