body { background: #f8f8f8; }

#box {

margin:auto;
background: orange;
position: absolute;
height: 400px;
width:5px;
top: 0;
bottom: 0;
left: 0;
right: 0;
transform:rotate(180deg);
animation:run 2s ease-in-out;
animation-iteration-count:100;
}

@keyframes run { 

	0% { height: 0px; transform:rotate(0deg);}
	50% { height: 400px; transform:rotate(0deg);}
	75% { height: 400px; transform:rotate(180deg);}
	100% { height: 0px; transform:rotate(180deg);}

}